@use '../../../shared/styles/tmp.scss' as *;

.authWrapper {
  width: 100vw;
  height: 90vh;
  .authSpace {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    .authLeftSide {
      background-color: black;
      width: 20%;
      height: 100%;
      @extend %centerTemplate;
      .leftSideTitle {
        font-size: 23px;
        color: white;
        line-height: 50px;
        font-weight: bold;
        @extend %mainFont;
      }
    }
    .authRightSide {
      background-size: cover;
      background-color: #111827;
      height: 100%;
      width: 80%;
      z-index: 1;
      position: relative;
      @extend %centerTemplate;
      .authBackgroundImg {
        @extend %backgroundPic;
      }
      .rightSideForm {
        padding: $spacing-lg;
        width: 400px;
        height: auto;
        @extend %cardTemplate;
        .authFormTitle {
          width: 100%;
          font-size: 23px;
          margin-bottom: 15px;
        }
        * {
          @extend %secondFont;
        }
      }
    }
  }
}

.linkAsButton {
  @extend %linkAsButtonClear;
}

@media screen and (max-width: 992px) {
  .authWrapper {
    .authLeftSide {
      display: none !important;
    }
    .authRightSide {
      width: 100% !important;
    }
  }
}
