@use "../../../shared/styles/tmp.scss" as *;

.chatContainer {
  width: 100%;
  height: calc(100vh - $header-height);
  display: flex;
  flex-direction: row;
}

.windowsSplitter {
  width: 100%;
}

.mobileContainer {
  flex-direction: column;
}

.mobileHeader {
  padding: 10px;
  background: #fafafa;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  justify-content: flex-start;
}

.mobileContent {
  flex-grow: 1;
  overflow: auto;
  height: calc(100vh - $header-height - 48px); // Учитываем высоту header с кнопками
}
