.editorWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blocknoteContainer {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  // padding: 20px;
}

.editor {
  height: 100%;
}
