@use "../../../shared/styles/tmp.scss" as *;

.notesLayout {
  display: flex;
  height: calc(100vh - $header-height);
  width: 100%;
  overflow: hidden;
  @include diskBackground;

  .content {
    flex: 1;
    overflow-y: auto;
    background: #fff;
    @include diskBackground;
  }
}
