@use "../../../shared/styles/tmp.scss" as *;

.notesLayout {
  display: flex;
  height: calc(100vh - $header-height);
  width: 100%;
  overflow: hidden;
  @include diskBackground;

  .content {
    flex: 1;
    overflow-y: auto;
    background: #fff;
    @include diskBackground;
    min-width: 0;
  }

  &.fullscreen {
    position: fixed;
    top: $header-height;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    height: auto;
    width: 100%;

    .content {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      min-height: 0;
    }
  }
}
