@use '../../../shared/styles/tmp.scss' as *;

.allFileViewer {
  display: flex;
  justify-content: center;
  .playerIcon {
    align-self: center;
    font-size: 250%;
    color: white;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 10px;
  }
}

.folder,
.file {
  font-size: 250%;
  color: white;
  //width: 100px;
  box-sizing: border-box;
  padding: 8px;
  border-radius: 10px;
}

.folder {
}

.file {
}

.playerIcon {
}

.imageFile {
}

.playerModalFileViewer {
  //width: 50% !important; //Sorryy!!!!! i dont know why it doesnt work without this
  display: flex;
  align-items: center;
  justify-content: center;
  .mainPlayer {
  }
}
