@use "../../../shared/styles/tmp.scss" as *;

%file-image {
  .image-file {
    max-width: 95px;
    max-height: 85px;
  }
}

.fileWrapper {
  box-sizing: border-box;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 1fr 4fr repeat(5, 1fr);
  color: white;
  padding: 10px;
  align-items: center;
  transition: 1s all ease;
  @extend %secondFont, %file-image;

  .fileBtn {
    display: none;
  }

  .fileName {
    grid-column-start: 2;
    width: 100px;
    box-sizing: border-box;
    padding: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .fileDate {
    grid-column-start: 5;
    justify-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
  }

  .fileSize {
    grid-column-start: 6;
    justify-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 8px;
  }

  &:hover {
    .fileDate {
      grid-column-start: 3;
    }

    .fileSize {
      grid-column-start: 4;
    }

    .fileShare {
      grid-column-start: 5;
      display: block;
      width: 70%;
      align-self: center;
    }

    .fileDownload {
      grid-column-start: 6;
      display: block;
      width: 70%;
      align-self: center;
    }

    .fileDelete {
      grid-column-start: 7;
      display: block;
      width: 70%;
      align-self: center;
    }
  }

  .folder,
  .file {
    font-size: 250%;
    color: white;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 10px;
  }
}

.filePlateFileWrapper {
  overflow: hidden;
  width: 125px;
  height: 150px;
  cursor: default;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  transition-duration: 0.5s;
  @extend %file-image;

  .folder,
  .file {
    font-size: 60px;
    color: white;
  }

  .fileName {
    max-width: 100px;
    color: white;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    @extend %secondFont;
  }

  .fileBtns {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
  }

  .fileBtn {
    display: none;
    font-size: 12px;
    padding: 2px 8px;
    height: auto;
  }

  .fileShare {
    color: #1890ff;

    &:hover {
      color: #40a9ff;
    }
  }

  &:hover {
    .fileBtn {
      display: block;
    }
  }
}

@media screen and (max-width: 992px) {
  .filePlateFileWrapper {
    width: 110px;
    height: 150px;
  }

  .fileWrapper {
    grid-template-columns: 1fr 4fr repeat(4, 1fr);

    &:hover {
      .fileShare {
        grid-column-start: 5;
      }

      .fileDownload {
        grid-column-start: 6;
      }

      .fileDelete {
        display: none; // Скрываем delete на мобилке при hover
      }
    }
  }
}

@media screen and (max-width: 576px) {
  .fileWrapper {
    grid-template-columns: 1fr 3fr 1fr 1fr;

    .fileDate,
    .fileSize {
      display: none;
    }

    .fileBtn {
      display: none !important; // На маленьких экранах кнопки всегда скрыты
    }
  }
}
